/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#navbar {
	width: 100%;
}
.table {
	thead {
		th {
			vertical-align: middle;
			@media screen and (max-width: 500px) {
				vertical-align: bottom;
				max-width: 15px;
				transform: translate(-77px, 80px) rotate(-90deg);
				white-space: nowrap;
				height: 200px;
			}
		}	
	}
	td {
		vertical-align: middle;
		
	}
}

.chartjs-render-monitor {
	margin: 0 auto;
}

.carousel-control-next, 
.carousel-control-prev {
	width: 20px;
}